<div class="container">
    <div class="row">
        <div class="col">
           <app-item-create></app-item-create>>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <p [ngStyle]="{ fontWeight: 'bold', fontStyle: 'italic', marginTop: '16px' }">X items</p>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div *ngIf="false; else itemsList">
                <p>No items to show...</p>
            </div>
            <ng-template #itemsList>
                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <td>
                                <div class="row">
                                    <div class="col">
                                        <h5>Name</h5>
                                        <p class="text-muted">Some description....</p>
                                    </div>

                                    <div class="col-auto">
                                        <div class="col-12 pr-0">
                                            <button type="button" class="btn btn-sm btn-warning">View</button>
                                        </div>
                                        <div class="col-12 mt-3 pr-0">
                                            <button type="button" class="btn btn-sm btn-outline-danger w-100">X</button>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </ng-template>
        </div>
    </div>
</div>
