<p class="font-italic">Create an item</p>
<form [formGroup]="itemForm" (ngSubmit)="create()">
    <div class="row">
        <div class="form-group col-sm-12 col-md-4">
            <input formControlName="name" type="text" class="form-control" placeholder="Name">
            <div class="invalid-feedback">
                Please provide a name.
            </div>
        </div>

        <div class="form-group col-sm-12 col-md-6">
            <input formControlName="description" type="text" class="form-control" placeholder="Description">
            <div class="invalid-feedback">
                Please provide a description.
            </div>
        </div>

        <div class="col-sm-12 col-md-auto text-right">
            <button type="submit" class="btn btn-success">Create</button>
        </div>
    </div>
</form>
